{
  "openapi": "3.0.3",
  "info": {
    "title": "InvestWise Pro API",
    "version": "1.0.0",
    "description": "ROI, NPV, CAGR, IRR and Payback calculation endpoints, plus Scenarios CRUD and evaluate. For on-site demo, use the server '/.netlify/functions'."
  },
  "servers": [
    { "url": "https://api.investwisepro.com" },
    { "url": "/.netlify/functions", "description": "On-site Netlify Functions" }
  ],
  "paths": {
    "/roi": { "post": { "summary": "Calculate ROI (demo 25% return)", "tags": ["Calculator"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "initialInvestment": { "type": "number", "example": 10000 }, "additionalCosts": { "type": "number", "example": 500 }, "countryCode": { "type": "string", "example": "US" } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" }, "401": { "description": "Unauthorized" }, "429": { "description": "Rate Limited" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/npv": { "post": { "summary": "Calculate Net Present Value", "tags": ["Calculator"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "initialInvestment": { "type": "number", "example": 10000 }, "discountRate": { "type": "number", "example": 0.1 }, "cashFlows": { "type": "array", "items": { "type": "number" }, "example": [4000, 4000, 4000] } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" }, "401": { "description": "Unauthorized" }, "429": { "description": "Rate Limited" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/cagr": { "post": { "summary": "Calculate CAGR", "tags": ["Calculator"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "beginningValue": { "type": "number", "example": 10000 }, "endingValue": { "type": "number", "example": 12500 }, "years": { "type": "number", "example": 2 } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" }, "401": { "description": "Unauthorized" }, "429": { "description": "Rate Limited" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/irr": { "post": { "summary": "Calculate Internal Rate of Return (IRR)", "tags": ["Calculator"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "initialInvestment": { "type": "number", "example": 10000 }, "cashFlows": { "type": "array", "items": { "type": "number" }, "example": [3000, 4000, 5000] } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" }, "401": { "description": "Unauthorized" }, "429": { "description": "Rate Limited" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/payback": { "post": { "summary": "Calculate Payback Period (years)", "tags": ["Calculator"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "initialInvestment": { "type": "number", "example": 10000 }, "cashFlows": { "type": "array", "items": { "type": "number" }, "example": [3000, 3000, 3000, 3000] } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" }, "401": { "description": "Unauthorized" }, "429": { "description": "Rate Limited" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/scenarios": { "get": { "summary": "List scenarios", "tags": ["Scenarios"], "responses": { "200": { "description": "OK" } }, "security": [{ "ApiKeyAuth": [] }] }, "post": { "summary": "Create scenario", "tags": ["Scenarios"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "name": { "type": "string" }, "parameters": { "type": "object" } }, "required": ["name", "parameters"] } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/scenarios/{id}": { "get": { "summary": "Get scenario", "tags": ["Scenarios"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" } }, "security": [{ "ApiKeyAuth": [] }] }, "put": { "summary": "Update scenario", "tags": ["Scenarios"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object" } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" } }, "security": [{ "ApiKeyAuth": [] }] }, "delete": { "summary": "Delete scenario", "tags": ["Scenarios"], "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }], "responses": { "200": { "description": "OK" } }, "security": [{ "ApiKeyAuth": [] }] } },
    "/scenarios/evaluate": { "post": { "summary": "Evaluate scenario params or id for all calculators", "tags": ["Scenarios"], "requestBody": { "required": true, "content": { "application/json": { "schema": { "type": "object", "properties": { "id": { "type": "string" }, "parameters": { "type": "object" } } } } } }, "responses": { "200": { "description": "OK" }, "400": { "description": "Bad Request" } }, "security": [{ "ApiKeyAuth": [] }] } }
  },
  "components": {
    "securitySchemes": { "ApiKeyAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "API Key" } }
  }
}