{
  "openapi": "3.0.3",
  "info": {
    "title": "InvestWise Pro API",
    "version": "1.0.0",
    "description": "ROI, NPV, and CAGR calculation endpoints. For on-site demo, use the server '/.netlify/functions'."
  },
  "servers": [
    { "url": "https://api.investwisepro.com" },
    { "url": "/.netlify/functions", "description": "On-site Netlify Functions" }
  ],
  "paths": {
    "/roi": {
      "post": {
        "summary": "Calculate ROI (demo 25% return)",
        "tags": ["Calculator"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "initialInvestment": { "type": "number", "example": 10000 },
                  "additionalCosts": { "type": "number", "example": 500 },
                  "countryCode": { "type": "string", "example": "US" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "429": { "description": "Rate Limited" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/npv": {
      "post": {
        "summary": "Calculate Net Present Value",
        "tags": ["Calculator"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "initialInvestment": { "type": "number", "example": 10000 },
                  "discountRate": { "type": "number", "example": 0.1 },
                  "cashFlows": { "type": "array", "items": { "type": "number" }, "example": [4000, 4000, 4000] }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "429": { "description": "Rate Limited" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    },
    "/cagr": {
      "post": {
        "summary": "Calculate CAGR",
        "tags": ["Calculator"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "beginningValue": { "type": "number", "example": 10000 },
                  "endingValue": { "type": "number", "example": 12500 },
                  "years": { "type": "number", "example": 2 }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "OK" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "429": { "description": "Rate Limited" }
        },
        "security": [{ "ApiKeyAuth": [] }]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  }
}